<div class="container purc_ready my_page">
  <div class="row" id="tabs">
    <%= render "shared/user_info_tab" %>

    <div class="col-md-9 no-gap">
      <div class="col-md-10 no-gap">
        <div class="col-md-12" style="padding: 0px 15px;">
          <h3 class="header">배송지 관리</h3>
        </div>
        <div class="col-md-12">
          <%= render "shared/address_book" %>
        </div>
      </div>
    </div>
  </div>
</div>
