<div class="col-md-12">
  <%= link_to "< 목록으로 돌아가기", "#", class: "btn session_btn", style: "margin-top:20px;" %>
</div>
<div class="col-md-12 tb_mp_spec_info_parent_pd">
  <!--desktop-->
  <div class="tb_mp_spec_info_parent">
    <table class="table  tb_mp_delivery tb_mp_spec_info">
      <tbody>
        <tr>
          <th colspan="2">
            <h3 class="tb_mp_spec_info_header text-left">[챔스] 베이직 로고 크롭 티셔츠 / 블루-화이트  외 3건에 대한 주문</h3>
          </th>
        </tr>
        <tr>
          <td class="tb_mp_delivery_name text-left" colspan="2">
            <div class="col-xs-4 no-gap">
              <p class="header_spec">주문 번호</p>
              <p class="header_spec">결제 금액</p>
              <p class="header_spec">주문일</p>
            </div>
            <div class="col-xs-8 no-gap">
              <p class="header_spec_sub">10345279693</p>
              <p class="header_spec_sub">73,800원</p>
              <p class="header_spec_sub">2016년 8월 8일</p>
            </div>
          </td>
        </tr>

        <tr>
          <table class="table tb_mp_spec_info_nested tb_exchg_nested">
            <tbody>
              <tr>
                <th class="tb_purc_check" >
                  <div class="checkbox">
                    <input type="checkbox" id="check1" class="checkbox-style"/>
                    <label for="check1"></label>
                  </div>
                </th>
                <th scope="row" ><%= image_tag "https://placehold.it/140x140" %></th>
                <td>
                <span class="tb_brand">컨버스</span><br> <p class="tb_name">척테일러 올스타 레더 화이트</p>
                <span class="tb_option">옵션 : S</span> <span class="tb_price">36,000 won</span>
                </td>
              </tr>

              <tr>
                <th class="tb_purc_check" >
                  <div class="checkbox">
                    <input type="checkbox" id="check1" class="checkbox-style"/>
                    <label for="check1"></label>
                  </div>
                </th>
                <th scope="row" ><%= image_tag "https://placehold.it/140x140" %></th>
                <td>
                <span class="tb_brand">컨버스</span><br> <p class="tb_name">척테일러 올스타 레더 화이트</p>
                <span class="tb_option">옵션 : S</span> <span class="tb_price">36,000 won</span>
                </td>
              </tr>

            </tbody>
          </table>
        </tr>


        <table class="table  tb_mp_delivery tb_mp_spec_info">
          <tbody>
            <tr>
              <td colspan="2">
                <div class="col-md-12 no-gap">
                  <div class="form-group">
                    <div class="col-md-4 no-gap">
                      <label for="user_이름" class="invisible">선택</label><br>
                      <select class="form-control">
                        <option value="" disabled selected>선택</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 no-gap">
                  <div class="form-group">
                    <div class="col-md-6 no-gap">
                      <label for="user_이름">신청 사유</label><br>
                      <select class="form-control">
                        <option value="" disabled selected>교환 / 환불 사유를 선택하세요</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4 col-md-offset-8 text-right no-gap_mb">
                    <%= link_to "교환 / 환불 신청", "#", class: "btn session_btn_black width_full", style: " margin-top:30px;" %>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>



      </tbody>
    </table>
  </div>
  <!--desktop-->


</div>
