<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
$( function() {
  $( "#tabs" ).tabs();
} );
</script>
<div class="container inf_admin purc_ready">
  <div class="row inf_admin_header" style="border-bottom:none;">
    <div class="col-md-12 mb_line_break_reverse no-gap">
      <h3 class="basic_header">상품별 판매 내역</h3>
    </div>
  </div><!-- .row -->

  <div class="row search_applied_prdt" style="margin-bottom:50px;padding-bottom:50px;">
    <div class="col-md-9">
      <div class="col-md-6">
        <div class="col-md-12 no-gap form-horizontal name_email_change">
          <div class="form-group">
            <label for="user_이름" class="col-md-3 control-label" style="padding-left:0px;text-align:left">조회 월 선택</label>
            <div class="col-md-9">
              <select class="form-control">
                <option>2016년 08월</option>
                <option>2</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 no-gap">
        <div class="col-md-8 no-gap form-group">
          <div class="col-md-5 col-xs-9 no-gap">
            <label for="user_이름" class="invisible">배송지 관리</label><br>
            <select class="form-control">
              <option>상품명</option>
              <option>2</option>
            </select>
          </div>
          <!-- desk btn -->
          <div class="col-md-7 purc_delivery mb_line_break_reverse" style="margin-top:0px;">
            <div class="col-md-9">
              <div class="form-group">
                <label for="user_이름">&nbsp;</label><br>
                <input class="form-control check" placeholder="검색어를 입력하세요" type="text" value="" name="destination_name" id="destination_name">
              </div>
            </div>
            <div class="col-md-3">
              <label class="invisible" for="user_이름">&nbsp;</label><br>
              <%= button_tag "검색", class: "btn session_btn_black", style: "margin-bottom:0px;" %>
            </div>
          </div>
          <!-- desk btn -->
          <!-- mb btn -->
          <div class="col-md-6 col-xs-3 no-gap mb_line_break" style="text-align: center;margin-top: 0px;padding: 0px;margin-bottom: 15px;">
            <label class="invisible" for="user_이름">배송주소</label><br>
            <%= button_tag "+", class: "btn session_btn", style: "margin-bottom: 0px;padding-bottom: 9px;padding-top: 9px;" %>
          </div>
          <!-- mb btn -->
        </div>
      </div>
    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-12 no-gap">
      <table class="table table-bordered tb_balance">
        <thead>
          <tr class="active">
            <th>상품 번호</th>
            <th>상품명</th>
            <th>가격</th>
            <th>승인 건수</th>
            <th>취소 건수</th>
            <th>총 상품 판매액</th>
            <th>정산 예정 금액</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">132173C</td>
            <td>척테일러 올스타 레더 화이트</td>
            <td>8,900 원</td>
            <td>29</td>
            <td>2</td>
            <td>198,720</td>
            <td>49,680</td>
            <td> <%= link_to "상품별 판매 조회", "#", class: "btn session_btn_black", style: "margin-bottom:0px;"%> </td>
          </tr>
          <tr>
            <td scope="row">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td scope="row">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
