<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
$( function() {
  $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
  $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
} );
</script>
<div class="container purc_ready my_page">
  <div class="row" id="tabs">
    <div class="col-md-12 mb_line_break_reverse">
      <h3 class="basic_header">마이페이지</h3>
    </div>
    <div class="col-md-3 mb_line_break_reverse">
      <div class="col-md-12">
        <div class="col-md-4 no-gap">
          <%= image_tag "profile_1.png", style: "border-radius:100%;width:60px;margin-top:15px;", alt: "" %>
        </div>
        <div class="col-md-8 no-gap">
          <h3>우희 님</h3>
          <p class="detail">
          asdf@gmail.com
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <ul class="nav navmenu-nav">
          <li><a href="#tabs-1">주문 조회</a></li>
          <li><a href="#tabs-2">교환/반품</a></li>
          <li><a href="#tabs-3">쿠폰</a></li>
          <li><a href="#tabs-3">장바구니</a></li>
          <li><a href="#tabs-3">위시 리스트</a></li>
          <li><a href="#tabs-3">상품 문의</a></li>
          <li><a href="#tabs-3">1:1문의</a></li>
          <li><a href="#tabs-3">회원 정보 관리</a></li>
          <li><a href="#tabs-3">배송지 관리</a></li>
          <li><a href="#tabs-3">인플루언서 신청</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 no-gap">
      <div id="tabs-2">
        <%= render "tab_2_clicked" %>
      </div>
    </div><!-- .col-md-9(right_side) -->
  </div><!--.row -->
</div>
