<!-- wannabe_letter_desk -->
<div class="col-md-12 wannabe_letter_desk_parent no-gap mb_line_break_reverse">
  <div class="wannabe_letter_desk">

    <div class="slide">
      <div class="wnb_letter_div">
        <div class="col-xs-11 wnb_letter_customer">
          <p>이현욱 님(loc****@g***)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
        <div class="col-xs-11 col-xs-offset-1 wnb_letter_inf">
          <p>이성경 님(heybiblee)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="wnb_letter_div">
        <div class="col-xs-11 wnb_letter_customer">
          <p>이현욱 님(loc****@g***)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
        <div class="col-xs-11 col-xs-offset-1 wnb_letter_inf">
          <p>이성경 님(heybiblee)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="wnb_letter_div">
        <div class="col-xs-11 wnb_letter_customer">
          <p>이현욱 님(loc****@g***)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
        <div class="col-xs-11 col-xs-offset-1 wnb_letter_inf">
          <p>이성경 님(heybiblee)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="wnb_letter_div">
        <div class="col-xs-11 wnb_letter_customer">
          <p>이현욱 님(loc****@g***)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
        <div class="col-xs-11 col-xs-offset-1 wnb_letter_inf">
          <p>이성경 님(heybiblee)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="wnb_letter_div">
        <div class="col-xs-11 wnb_letter_customer">
          <p>이현욱 님(loc****@g***)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
        <div class="col-xs-11 col-xs-offset-1 wnb_letter_inf">
          <p>이성경 님(heybiblee)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- wannabe_letter_desk -->


<!-- wannabe_letter_mb -->
<div class="col-md-12 wannabe_letter_mb_parent no-gap mb_line_break">
  <div class="wannabe_letter_mb">

    <div class="slide">
      <div class="wnb_letter_div">
        <div class="col-xs-11 wnb_letter_customer">
          <p>이현욱 님(loc****@g***)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
        <div class="col-xs-11 col-xs-offset-1 wnb_letter_inf">
          <p>이성경 님(heybiblee)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="wnb_letter_div">
        <div class="col-xs-11 wnb_letter_customer">
          <p>이현욱 님(loc****@g***)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
        <div class="col-xs-11 col-xs-offset-1 wnb_letter_inf">
          <p>이성경 님(heybiblee)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="wnb_letter_div">
        <div class="col-xs-11 wnb_letter_customer">
          <p>이현욱 님(loc****@g***)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
        <div class="col-xs-11 col-xs-offset-1 wnb_letter_inf">
          <p>이성경 님(heybiblee)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="wnb_letter_div">
        <div class="col-xs-11 wnb_letter_customer">
          <p>이현욱 님(loc****@g***)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
        <div class="col-xs-11 col-xs-offset-1 wnb_letter_inf">
          <p>이성경 님(heybiblee)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="wnb_letter_div">
        <div class="col-xs-11 wnb_letter_customer">
          <p>이현욱 님(loc****@g***)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
        <div class="col-xs-11 col-xs-offset-1 wnb_letter_inf">
          <p>이성경 님(heybiblee)</p>
          <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- wannabe_letter_mb -->
