
<div class="wrapper">
  <div class="main">
    <div class="section">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="title">제기동</h2>
          <!--<p>3000원? 3500원? 4000원? <br> 참살이? 정후? 법후? 정문? 제기동??<br>술먹고 싶은데 술값 걱정일 때 찾는 이슬맵</p>-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div id="acordeon">
            <div class="panel-group" id="accordion">
              <% unless @place.nil? %>
                  <%= render partial: 'layouts/list', locals: {place: @place} %>
              <% end %>
            </div>
          </div><!--  end acordeon -->
        </div>
      </div>
    </div>
  </div>
</div>