
<div class="wrapper">
  <div class="main">
    <div class="section">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="title">정문</h2>
          <!--<p>3000원? 3500원? 4000원? <br> 참살이? 정후? 법후? 정문? 제기동??<br>술먹고 싶은데 술값 걱정일 때 찾는 이슬맵</p>-->
        </div>
        <div id="map" style="width:100%;height:500px;"></div>
        <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=b5a188403801abdf3742ce482aa309fd"></script>
        <script type="text/javascript">
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
        center: new daum.maps.LatLng(37.5879422,127.03518480000002), // 지도의 중심좌표
        level: 3, // 지도의 확대 레벨
        draggable: false,
        setZoomable: false
        };

        var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        var sw = new daum.maps.LatLng(37.587083,127.03446110000004), // 사각형 영역의 남서쪽 좌표
            ne = new daum.maps.LatLng(37.5885926,127.03648309999994); // 사각형 영역의 북동쪽 좌표

        // 사각형을 구성하는 영역정보를 생성합니다
        // 사각형을 생성할 때 영역정보는 LatLngBounds 객체로 넘겨줘야 합니다
        var rectangleBounds = new daum.maps.LatLngBounds(sw, ne);

        // 지도에 표시할 사각형을 생성합니다
        var rectangle = new daum.maps.Rectangle({
            bounds: rectangleBounds, // 그려질 사각형의 영역정보입니다
            strokeWeight: 4, // 선의 두께입니다
            strokeColor: '#FF3DE5', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'shortdashdot', // 선의 스타일입니다
            fillColor: '#FF8AEF', // 채우기 색깔입니다
            fillOpacity: 0.8 // 채우기 불투명도 입니다
        });

        // 지도에 사각형을 표시합니다
        rectangle.setMap(map);


        </script>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div id="acordeon">
            <div class="panel-group" id="accordion">
              <% unless @place.nil? %>
                  <% @place.each do |p| %>
                      <div class="panel panel-border panel-default">
                        <a data-toggle="collapse" href="#collapseOne">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <%= p.name %>
                              <i class="ti-angle-down"></i>
                            </h4>

                          </div>
                        </a>
                        <div id="collapseOne" class="panel-collapse collapse">
                          <div class="panel-body">
                            소주가격 <%= p.price %>
                            <%= p.desc %>
                          </div>
                        </div>
                      </div>
                  <% end %>
              <% else %>

                  <div class="panel panel-border panel-default">
                    <a data-toggle="collapse" href="#collapseTwo">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          nothing
                          <i class="ti-angle-down"></i>
                        </h4>

                      </div>
                    </a>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
              <% end %>

            </div>
          </div><!--  end acordeon -->
        </div>
      </div>
    </div>
  </div>
</div>
