@media (max-width: 600px) {
  .row {
    text-align:center;
  }
  .nav > li > a {
    padding: 10px 8px !important;
    font-size:13px;
  }
  .text-muted {
    text-align: center;
  }
  .container {
    width: 100% !important;
    max-width: 100% !important;
  }
  .mb_line_break {
    display: block;
  }
}
