@media (max-width: 767px) {
  /*about starts*/
  .mb_line_break {
    display: block;
  }
  .second_section_mb_line_break_reverse {
    display: none;
  }
  .nav-pills.nav-justified {
    display: none;
  }
  .nav.navbar-nav {
    text-align: center
  }
  .nav.navbar-nav > li {
    display: inline-block;
  }
  .nav.navbar-nav > li:last-child {
    display: none;
  }
  .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #navbar-brand_mb {
    display: block;
  }
  #nav_mb_menu {
    display: block ;
  }
  #nav_main {
    display: none;
  }
  .container.about_container {
    text-align:center;
  }
  .about_center_image {
    height:100vh;
  }
  .about .about_content {
    position: relative;
    left: 0px !important;
  }
  .about_content {
    text-align: right;
  }
  .main_logo_div {
    text-align: center;
    position: relative;
    padding:0px;
    right: 0;
  }
  .about_logo {
    position: relative;
    top: 25vh;
  }
  .about_text {
    position: relative;
    left: 0 !important;
    top: 30vh;
  }
  .about_last_underline {
  }
  .about_last_section h1 {
    font-size: 29px;
  }
  .about_last_section .apply h3 {
    font-size: 20px;
    letter-spacing: -0.5px;
  }
  /* recruit starts */
  .recruit_form .form-group .col-md-6:nth-child(2n-1) {
    padding: 0px;
  }
  .recruit_form .form-group .col-md-6:nth-child(2n) {
    padding: 0px;
  }
  /* recruit ends */
}

@media (max-width: 990px) {
  .recruit_form .form-group .col-md-6:nth-child(2n-1) {
    padding: 0px;
  }
  .recruit_form .form-group .col-md-6:nth-child(2n) {
    padding: 0px;
  }
  .about_last_section {
    padding-right:0px !important;
    padding-left:0px !important;;
  }
  .about_last_underline hr {
    width: 216px;
  }
}
