.carousel-indicators {
    position: absolute;
    bottom: 10px;
    right: 15px;
    left: initial;
    z-index: 9;
    width: inherit;
    padding-left: 0;
    list-style: none;
    text-align: center;
}