@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  border-top: 5px solid #111;
}
.mb_line_break {
  display: none;
}
.second_section_mb_line_break_reverse {
  display: inline-block;
}
.nav>li {
  margin-top: 10px;
}
.mobile-nav #nav_close .nav_off_scroll_1 {
  display: block;
}
.mobile-nav #nav_close .nav_off_scroll_1_trans {
  display: none;
}
.mobile-nav #nav_close .nav_off_scroll_2 {
  display: block;
}
.mobile-nav #nav_close .nav_off_scroll_2_trans {
  display: none;
}
.mobile-nav #nav_close .nav_off_scroll_3 {
  display: block;
}
.mobile-nav #nav_close .nav_off_scroll_3_trans {
  display: none;
}
.mobile-nav #nav_close .nav_off_scroll_4 {
  background: url('util_btn_1.png');
  width: 9px;
  height: 7px;
  margin-top: 5px;
}
.navbar-small .nav_off_scroll_1 {
  display: block;
}
.navbar-small .nav_off_scroll_1_trans {
  display: none;
}
.navbar-small .nav_off_scroll_2 {
  display: block;
}
.navbar-small .nav_off_scroll_2_trans {
  display: none;
}
.navbar-small .nav_off_scroll_3{
  display: block;
}
.navbar-small .nav_off_scroll_3_trans{
  display: none;
}
.navbar-small .nav_off_scroll_4{
  background: url('util_btn_1.png');
  width: 9px;
  height: 7px;
  margin-top: 5px;
}
.navbar-trans .nav_off_scroll_1 {
  display: none;
}
.navbar-trans .nav_off_scroll_1_trans {
  display: block;
}
.navbar-trans .nav_off_scroll_2 {
  display: none;
}
.navbar-trans .nav_off_scroll_2_trans {
  display: block;
}
.navbar-trans .nav_off_scroll_3{
  display: none;
}
.navbar-trans .nav_off_scroll_3_trans{
  display: block;
}
.navbar-trans .nav_off_scroll_4{
  background: url('util_btn_2.png');
  width: 9px;
  height: 7px;
  margin-top: 5px;
}
.navbar-trans > .nav-justified > li > a.active {
  padding-right: 0px;
  border-radius: 0px;
  border-bottom: 2px solid #ffffff;
  padding-left: 0px;
}
.mobile-nav a, .mobile-nav a.active{
  color: #212121 !important;
}
.mobile-nav a.active{
  padding-right: 0px;
  border-radius: 0px;
  border-bottom: 2px solid #212121;
  padding-left: 0px;
}
.mobile-nav > li > a:hover{
  background-color : #212121;
  color: #ffffff;
}
.navbar-small > .nav-justified > li > a, .navbar-small > .nav-justified > li > a.active{
  color: #212121;
}
.navbar-small > .nav-justified > li > a.active{
  padding-right: 0px;
  border-radius: 0px;
  border-bottom: 2px solid #212121;
  padding-left: 0px;
}
.navbar-small > .nav-justified > li > a:hover{
  background-color : #212121;
  color: #ffffff;
}
.mobile-nav #nav_close .navbar-nav>li>a, .navbar-small #nav_close .navbar-nav>li>a {
  color: #212121;
}
.navbar-trans #nav_close .navbar-nav>li>a {
  color: #ffffff;
}
.navbar-small >li > a
.nav>li:last-child a{
  padding-left: 0px;
}
.nav>li>a>img {
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.main_nav {
  background: #f3f3f3;
}
.navbar-trans .navbar-logo_trans {
  display: block;
}
.navbar-trans .navbar-logo {
  display: none;
}
.navbar-small .navbar-logo, .mobile-nav .navbar-logo {
  display: block;
}
.navbar-small .navbar-logo_trans, .mobile-nav .navbar-logo_trans {
  display: none;
}
.main_service > a {
  color: #ffffff;
}
.main_service > a.active {
  color: #ffffff;
}
.main_service > a.active {
  color: #212121;
}
.main_service > a:hover {
  text-decoration:none;
}
#main_profile {
  padding-top:0px;
  padding-right:13px;
}
#main_profile img {
  width:44px;
  border-radius: 100%;
}
.main_center_image {
  height:314px;
  background: #f3f3f3;
  border-bottom: 5px solid #111;
}
.main_logo_div {
  position:absolute;
  right: 50%;
  padding-right: 65px;
}
.main_logo_div_second {
  padding-right: 120px;
}
.main_logo {
  position: absolute;
  top:100px;
}
.no-gap {
  padding-left:0px !important;
  padding-right: 0px !important;
}
.menu_first {
  padding: 16px 40px 17px 40px;
  margin-right:20px;
  border-radius: 2px 2px 0px 0px;
  font-size:14px;
  background-color: #ffffff;
  letter-spacing: 0.4px;
  color: #212121;
}
.menu_second {
  padding: 16px 30px 17px 30px;
  margin-right:17px;
  border-radius: 2px 2px 0px 0px;
  font-size:14px;
  background-color: #212121;
  letter-spacing: 0.4px;
  color: #ffffff;
}
.menu_third {
  padding: 16px 40px 17px 40px;
  border-radius: 2px 2px 0px 0px;
  font-size:14px;
  background-color: #212121;
  letter-spacing: 0.4px;
  color: #ffffff;
}
.active {

}
.main_service {
  position: absolute;
  bottom:0px;
  margin-bottom: 10px;
  left:50px;
}
.main_slide {
  margin-top:50px;
}
#myCarousel {
  height:490px;
}
.carousel-indicators li {
  background-color: #212121 !important;
  border: #212121 !important;
  width: 10px;
  height: 10px;
  margin-left:10px;
  margin-right:10px;
}
#carousel_1.active{
  background:url('indicator_1.png');
  margin-right:12px;
  width: 22px;
  height: 22px;
}
#carousel_2.active{
  background:url('indicator_2.png');
  margin-right:12px;
  margin-left:12px;
  width: 22px;
  height: 22px;
}
#carousel_3.active{
  background:url('indicator_3.png');
  margin-right:12px;
  margin-left:12px;
  width: 22px;
  height: 22px;
}
#carousel_4.active{
  background:url('indicator_4.png');
  margin-right:12px;
  margin-left:12px;
  width: 22px;
  height: 22px;
}
.left.carousel-control img{
  position: absolute;
  top:190px;
  left:0px;
}
.right.carousel-control img{
  position: absolute;
  top:190px;
  right:0px;
}
.item img {
  height:490px!important;
  width:100%;
}
.main_sub_image_first {
  height:300px;
  background-color: #ccc;
  margin-bottom:20px;
  margin-top:50px;
}
.main_sub_image:nth-of-type(odd) {
  padding-right:10px;
  padding-left:0px;
}
.main_sub_image:nth-of-type(even) {
  padding-left:10px;
  padding-right:0px;
}
.main_sub_image .col-md-12 {
  background-color: #ccc;
  height:300px;
}
.card_guide {
  margin-top:50px;
}
.card_guide:nth-of-type(odd) {
  padding-right:10px;
  padding-left:0px;
}
.card_guide .col-md-5 {
  height:255px;
  padding-left: 0px;
  padding-right: 20px;
}
.card_guide .col-md-7 {
  height:255px;
}
.product {
  color: #212121;
  font-size: 17px;
}
.price {
  color: #666666;
  font-size: 14px;
}
.detail {
  color: #333333;
  font-size: 12px;
  margin-bottom:20px;
}
/* about page starts*/
.about_content p {
  font-size:10px;
}
.about_center_image {
  background-color: #212121;
  height:90vh;
}
.about_logo {
  position: absolute;
  top: 33vh;
}
.about_text {
  color: #ffffff;
  position:absolute;
  top: 50vh;
}
.about_text img {
  margin-top:5px;
}
.about_text span {
  margin-top: 60px;
}
.about_container .col-md-4 {
  padding-top:150px;
  padding-bottom:150px;
}
.about_container .row .col-md-4 h2 {
  color: #666666;
  font-size: 32px;
  line-height: 1.3;
  font-family: 'Nanum Gothic', sans-serif;
}
.about_container .row .col-md-4 p {
  color: #666666;
  font-size:14px;
  line-height: 1.9;
  font-family: 'Noto Sans KR', sans-serif;
}
.about_container img {
  padding-left: 10px;
  margin-bottom: 20px;
}
.about {
  background-color : #777;
  color:#ffffff;
  height: 100vh;
}
.about .about_content {
  position: absolute;
}
.navbar-trans {
  background: transparent !important;
  border:none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #212121 !important;
}
.navbar-brand .navbar-brand_mb {
  color: #212121;
}
.navbar-brand_mb {
  font-size: 14px;
  color: #212121 !important;
}
.navbar-brand_mb hr{
  border: 2px solid #212121;
  margin-top:0px;
  margin-bottom:0px;
}
.navbar-brand_mb > div {
  display: inline-block;
}
#navbar-brand_mb {
  display: none;
}
#nav_mb_menu {
  display: none ;
}
.navbar-collapse_mb_left li {
  margin-top: 0px !important;
}
.about_detail {
  border-top: 2px solid #777;
  border-bottom: 2px solid #777;
}

.count-wrapper span {
  font-size:55px;
  font-weight: bold;
}
.about_service a:last-child{
  color: #ffffff;
  /* padding-bottom: 5px; */
  border-bottom: 3px solid #ffffff;
}
.about_service a{
  color: #ffffff;
}
.about_last_underline {
  margin-top:45px;
}
.about_last_section {
  padding-right:40px !important;
  padding-left:0px !important;;
}
.about_last_section h1 {
  color:#666666;
  margin-bottom:70px;
  line-height: 1.1;
  font-size: 48px;
  font-weight: lighter;
}
.about_last_section .apply h3 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 32.4px;
  line-height: 1.5;
  color: #666666;
  font-weight: 100;
}
.about_last_underline hr {
  width: 360px;
}
/* about page ends*/

/* inf page starts */
.inf_center_image {
  height:0px;
}
.inf_nav_back {
  z-index: -1;
  position: absolute;
  top: 0px;
  height: 80px;
  background-color: #f3f3f3;
  width: 100%;
}
.inf_link {
  border-radius: 2px;
  border: 1px solid #212121;
  color: #212121;
  padding: 4px;
  margin-left:5px;
}
/* inf page ends */


/* recruit page starts */
.recruit_form {
  margin-bottom:150px;
}
.recruit_form .form-group .col-md-6:nth-child(2n-1) {
  padding-left:0px;
}
.recruit_form .form-group .col-md-6:nth-child(2n) {
  padding-right:0px;
}
.recruit_form .btn.btn-default {
  width:100%;
}
.recruit_require {
  color: red;
}
/* recruit page ends */

/* product specific */
.product_header {
  font-size: 20px;
}
.product_par {
  font-size: 14px;
  line-height: 1.5;
}
#ui-id-1-button{
  padding-top: 15px;
  padding-bottom: 15px;
}

span.ui-widget.ui-widget-content.ui-spinner.ui-controlgroup-item {
  width: 25%;
}

.controlgroup-vertical #book {
  margin-top:30px;
}
.product_detail .nav-tabs {
  border-bottom: 2px solid #212121;
  margin-top:30px;
}
.product_detail .nav-tabs > li {
  width: 25%;
  text-align: center;
}
.product_detail .nav-tabs > li.active > a {
  border: 2px solid #212121;
  border-bottom-color: #ffffff;
  margin-bottom: -2px;
  background: #ffffff;
  color: #212121;
  width: 100%;
}
.product_detail .nav-tabs > li > a {
  text-align: center;
  color: inherit;
  border-collapse: collapse;
  z-index: 1;
  display: inline-block;
  position: relative;
  font-size: 14px;
  box-sizing: border-box;
  padding: 15px 20px 14px;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  width: 100%;
}
#section1, #section2, #section3, #section4 {
  margin-top: 30px;
  margin-bottom: 50px;
}
#section3 > .col-md-6 > .col-md-12 {
  height: 400px;
  border: 1px solid #dddddd;
  border-radius: 10px;
}
#section3 > .col-md-6:first-child {
  padding-left: 0px;
}
#section3 > .col-md-6:nth-child(2) {
  padding-right: 0px;
}
#section3 .product_par {
  padding : 0 15px;
}
/* product specific ends */

/* footer */
/* --------------------------------------------------
	7.0 Footers
-------------------------------------------------- */
.copyright {
  background: #222;
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright small {
  font-family:  'Noto Sans KR', sans-serif, "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.copyright small a:hover {
  color: #ececec;
}

.copyright small a:focus {
  text-decoration: none;
}

.copyright .to-the-top {
  color: #777;
}

.copyright .to-the-top i {
  padding-left: 7px;
  font-size: 21px;
  vertical-align: top;
}

.footer-social-links {
  text-align: center;
}

.footer-social-links ul {
  list-style: none;
  margin: 0;
  padding: 65px 0;
}

.footer-social-links ul li {
  display: inline-block;
  padding-right: 35px;
  margin-right: 35px;
  border-right: 1px solid #777;
}

.footer-social-links ul li:last-child {
  border: none;
  padding-right: 0;
  margin-right: 0;
}

.footer-social-links ul li a {
  display: block;
  color: #ececec;
}

.footer-social-links ul li a:hover {
  color: #999;
}

.footer-social-links ul li a:focus {
  text-decoration: none;
}

/* ---- 7.1 Footer Widgets ---- */
.footer-widgets {
  background: #111;
}

.footer-widgets .widget .header-widget {
  padding-bottom: 17px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
  color: #ececec;
}

.footer-widgets .widget p {
  margin: 0;
  font-size: .9em;
}

.footer-widgets .about-widget .social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.footer-widgets .about-widget .social-links li {
  display: inline-block;
  padding-right: 15px;
  font-size: 22px;
}

.footer-widgets .about-widget .social-links li a {
  color: #777;
}

.footer-widgets .about-widget .social-links li a:hover {
  color: #ececec;
}

.footer-widgets .gallery-widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-widgets .gallery-widget ul li {
  display: inline-block;
  margin-right: 1px;
  margin-bottom: 1px;
  width: 86px;
  height: 86px;
  float: left;
  background: #ccc;
  overflow: hidden;
}

.footer-widgets .gallery-widget ul li a {
  display: block;
  position: relative;
}

.footer-widgets .gallery-widget ul li a img {
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.footer-widgets .gallery-widget ul li a .hover-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0);
  text-align: center;
  -webkit-transition: background 0.4s;
          transition: background 0.4s;
}

.footer-widgets .gallery-widget ul li a .hover-link span {
  display: block;
  padding-top: 20px;
  color: #ececec;
  font-size: 50px;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

.footer-widgets .gallery-widget ul li a:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-widgets .gallery-widget ul li a:hover .hover-link {
  background: rgba(17, 17, 17, 0.55);
}

.footer-widgets .gallery-widget ul li a:hover .hover-link span {
  opacity: 1;
}

.footer-widgets .gallery-widget ul li a:focus {
  outline: none;
}

.footer-widgets .twitter-widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-widgets .twitter-widget ul li {
  display: block;
  margin-bottom: 20px;
  padding: 2px;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}

.footer-widgets .twitter-widget ul li:hover {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(204, 204, 204, 0.1);
}

.footer-widgets .twitter-widget ul li i {
  display: inline-block;
  margin-right: 5px;
  padding-top: 3px;
  margin-bottom: 30px;
  float: left;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.3);
}

.footer-widgets .twitter-widget ul li p {
  font-size: .85em;
}

.footer-widgets .twitter-widget ul li p a {
  color: #ccc;
}

.footer-widgets .twitter-widget ul li p a:hover {
  border-color: #ccc;
}

.footer-widgets .twitter-widget ul li p .tw-widget-date {
  display: inline-block;
  margin-right: 5px;
}

.footer-widgets .newsletter-widget form .form-group {
  display: block;
  position: relative;
}

.footer-widgets .newsletter-widget form .form-group input[type="email"] {
  display: block;
  width: 100%;
  height: 42px;
  padding-left: 20px;
  padding-right: 70px;
  border: none;
  background: rgba(204, 204, 204, 0.1);
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.footer-widgets .newsletter-widget form .form-group input[type="email"]:focus {
  outline: none;
  background: rgba(204, 204, 204, 0.15);
}

.footer-widgets .newsletter-widget form .form-group button {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 50px;
  height: 42px;
  border: none;
  color: rgba(244, 244, 244, 0.5);
  background: rgba(204, 204, 204, 0.1);
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}

.footer-widgets .newsletter-widget form .form-group button i {
  padding-top: 5px;
  font-size: 20px;
}

.footer-widgets .newsletter-widget form .form-group button:focus {
  outline: none;
}

.footer-widgets .newsletter-widget form .form-group button:hover {
  background: #ececec;
  color: #111;
}

/* ---- 7.2 Footer Contact ---- */
.footer-contact .contact-info {
  position: relative;
}

.footer-contact .contact-info .footer-map {
  height: 770px;
  background: #ccc;
}

.footer-contact .contact-info .show-info-link {
  display: inline-block;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  width: 200px;
  height: 50px;
  text-align: center;
  color: #111;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.6s, top 0.5s;
          transition: opacity 0.5s, visibility 0.6s, top 0.5s;
  z-index: 999;
}

.footer-contact .contact-info .show-info-link:hover {
  background: #ececec;
}

.footer-contact .contact-info .show-info-link:focus {
  text-decoration: none !important;
  border-bottom: none;
}

.footer-contact .contact-info .show-info-link i {
  display: inline-block;
  padding-top: 18px;
  padding-right: 15px;
}

.footer-contact .contact-info .info-open {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.footer-contact .contact-info address {
  position: absolute;
  margin-bottom: 0;
  padding: 280px 100px 0 130px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.93);
  -webkit-transition: opacity 0.5s, visibility 0.6s;
          transition: opacity 0.5s, visibility 0.6s;
}

.footer-contact .contact-info address ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50%;
  float: left;
}

.footer-contact .contact-info address ul li {
  display: block;
  margin-bottom: 30px;
  padding: 7px 0 7px 20px;
  border-left: 1px solid #777;
}

.footer-contact .contact-info address ul li .adr-heading {
  display: block;
  color: #ececec;
}

.footer-contact .contact-info address ul li .adr-info {
  font-size: .9em;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #999;
}

.footer-contact .contact-info address .show-map {
  display: block;
  position: absolute;
  bottom: 100px;
  color: #ececec;
}

.footer-contact .contact-info address .show-map span {
  padding-right: 20px;
  font-size: 35px;
  vertical-align: middle;
}

.footer-contact .contact-info address .show-map:hover {
  color: #999;
}

.footer-contact .contact-info address .show-map:focus {
  text-decoration: none;
}

.footer-contact .map-open {
  opacity: 0;
  visibility: hidden;
}

.footer-contact .contact-form {
  padding-left: 100px;
  padding-right: 12%;
}

.footer-contact .contact-form header {
  text-align: left;
  margin-bottom: 50px;
}

/* ---- 7.3 Footer Litle ---- */
.footer-litle address {
  margin-bottom: 0;
  padding-top: 85px;
  padding-bottom: 85px;
}

.footer-litle address ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-litle address ul li {
  display: inline-block;
  margin-right: 160px;
}

.footer-litle address ul li:last-child {
  margin-right: 0;
}

.footer-litle address ul li .adr-icon {
  padding-right: 20px;
  float: left;
  font-size: 36px;
  color: #111;
}

.footer-litle address ul li .adr-group {
  text-align: left;
  float: right;
}

.footer-litle address ul li .adr-group .adr-heading {
  display: block;
  color: #111;
}

.footer-litle address ul li .adr-group .adr-info {
  font-size: .9em;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #999;
}
/* footer ends */
