<h3>[트렌디스트] 비밀번호 변경</h3>
<p>
  다음 <%= @resource.email %> 이메일의 비밀번호 변경을 요청하셨습니다.<br><br>
  아래 링크를 클릭하여 비밀번호를 변경하실 수 있습니다.<br><br>
  만약 요청하신 적이 없으시면 본 이메일을 무시하시길 바랍니다.<br><br>
</p>
<p><%= link_to '비밀번호 변경하기', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Be Wanna Be, 트렌디스트</p>
