<div class="col-md-12 main_center_image about_center_image no-gap">
  <div class="main_logo_div">
    <img class="about_logo" src="<%= image_url('logo_w2_1.png')%> " alt="" />
  </div>
  <div class="main_logo_div main_logo_div_second">
    <div class="about_text text-center">
      <h3 style="font-size:24px;font-family: 'Noto Sans KR', sans-serif;"> Be Wanna Be</h3>
      <img src="<%= image_url('about_sublogo.png') %>" alt="" />
      <h1><span class="fa fa-arrow-down"></span></h1>
    </div>
  </div>

</div>
