<style media="screen">
.row {
  margin-right:0px !important;
  margin-left:0px !important;
}
.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.about_last_section .apply h3 {
  font-size: 25px;
}
</style>
<%= render 'header' %>

<div class="col-md-12 main_center_image about_center_image about_last_section" style="background-color:#ffffff;padding-top:60px;">
  <div class="text-center">
    <img src="<%= image_url('about_sublogo_b.png') %>" alt="" />
    <h1 style="font-family: 'Noto Sans KR', sans-serif;margin-top:40px;margin-bottom:40px;font-weight:inherit" class="complete_head">1기 선발에 지원해주셔서 <br class="mb_line_break">감사합니다</h1>
  </div>
  <div class="col-md-12 text-center" style="margin-bottom:45px;">
    <img class="" src="<%= image_url('logo_desktop.png')%> " alt="" />
  </div>
  <div class="col-md-12 text-center apply">
    <h3 style="margin-top:0px;">발표  - 9월 1일</h3>
  </div>
  <div class="col-md-6 col-md-offset-3 text-center about_last_underline" style="margin-top:0px;">
    <hr style="border:1px solid #b2b2b2">
  </div>
  <div class="col-md-12 text-center apply">
    <p style="margin-top:15px;font-family: 'Noto Sans KR', sans-serif;">
      contact@trd.st
    </p>
  </div>
</div>
<%= render "image_setting" %>
