<div class="container sign_up sign_up_before">
  <div class="row">
    <div class="col-md-12 mb_line_break_reverse">
      <h3 class="header">회원가입</h3>
    </div>
    <div class="col-md-12">
      <a href="#">
      <div class="well">
        <div><img src="http://placehold.it/40x40"></div>
        <div class="text-center">이메일 주소로 회원 가입</div>
      </div>
      </a>
      <a href="#">
      <div class="well">
        <div><img src="http://placehold.it/40x40"></div>
        <div class="text-center">facebook 계정으로 회원 가입</div>
      </div>
      </a>

      <a href="#">
      <div class="well">
        <div><img src="http://placehold.it/40x40"></div>
        <div class="text-center">instagram 계정으로 회원 가입</div>
      </div>
      </a>

      <a href="#">
      <div class="well">
        <div><img src="http://placehold.it/40x40"></div>
        <div class="text-center">naver 계정으로 회원 가입</div>
      </div>
      </a>
    </div>
  </div>
</div>
