
<!-- 이용약관 -->
<div class="modal fade bs-example-modal-lg personal_inf_term" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">서비스 이용 약관</h4>
      </div>
      <div class="modal-body">
        <p>
제1장 총칙
 
제 1 조(목적)
이 약관은 주식회사 씨디에프브로스(이하 ”회사”라 한다)가 운영하는 인터넷사이트(이하 “사이트”라 한다)에서 제공하는 인터넷 관련 서비스(이하 “서비스”라 한다)를 이용함에 있어 회원의 권리•의무 및 책임사항을 규정함을 목적으로 합니다.
*「인터넷, 정보통신망, 모바일 및 스마트 장치 등을 이용하는 전자상거래에 대하여도 그 성질에 반하지 않는 한 이 약관을 준용합니다」
 
제 2 조 (용어의 정의)
1. “사이트”란 회사가 상품 또는 쿠폰(이하 “상품 등”이라 함)을 회원에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 상품 등을 거래할 수 있도록 설정한 가상의 영업장을 의미합니다.
2. “회원”이라 함은 사이트에 회원등록을 한 자로서, 계속적으로 사이트에서 제공하는 서비스를 이용할 수 있는 자를 말합니다.
3. “아이디(ID)”라 함은 회원의 식별과 서비스 이용을 위하여 회원이 설정하고 회사가 승인하여 등록된 전자우편주소를 말합니다.
4. “비밀번호(Password)”라 함은 회원의 동일성 확인과 회원의 권익 및 비밀보호를 위하여 회원 스스로가 설정하여 사이트에 등록한 문자와 숫자의 조합을 말합니다.
5. “할인쿠폰”이라 함은 상품 등을 구매할 때나 사이트가 제공하는 서비스를 이용할 때 표시된 금액 또는 비율만큼 할인 받을 수 있는 쿠폰(온라인 또는 오프라인)을 말합니다.
 
제 3 조 (약관의 명시와 설명 및 개정)
1. 회사는 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 주소를 포함), 전화번호, 모사전송번호, 전자우편주소, 사업자등록번호, 통신판매업신고번호, 개인정보관리책임자 등을 회원이 쉽게 확인할 수 있도록 사이트의 초기 서비스 화면에 게시합니다. 다만, 약관의 구체적 내용은 회원이 연결화면을 통하여 볼 수 있도록 할 수 있습니다.
2. 회사는 『전자상거래 등에서의 소비자보호에 관한 법률』, 『약관의 규제에 관한 법률』, 『전자문서 및 전자거래기본법』, 『전자금융거래법』, 『전자서명법』, 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』, 『소비자기본법』 등 관련법령을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
3. 회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 사이트의 초기화면에 그 적용일자 7일(다만, 회원에게 불리한 내용으로 변경하는 경우에는 30일) 이전부터 적용일자 전일까지 공지합니다.
4. 제3항에 의해 변경된 약관은 법령에 특별한 규정 기타 부득이한 사유가 없는 한 그 적용일자 이전으로 소급하여 적용되지 아니합니다.
5. 제3항에 따라 공지된 적용일자 이후에 회원이 명시적으로 거부의사를 표명하지 않을 경우에는 개정된 약관에 동의하는 것으로 봅니다.
6. 회사는 제공하는 서비스 내의 개별 서비스에 대한 별도의 약관 및 이용조건을 둘 수 있으며 개별 서비스에서 별도로 적용되는 약관에 대한 동의는 회원이 개별 서비스를 최초로 이용할 경우 별도의 동의절차를 거치게 됩니다. 이 경우 개별 서비스에 대한 이용약관 등이 이 약관에 우선합니다.
7. 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자 보호에 관한 법률, 약관의 규제에 관한 법률, 공정거래위원회가 정하는 전자상거래 등에서의 소비자 보호지침 및 관계법령 및 상관례에 따릅니다.
 
제 4 조 (서비스의 제공 및 변경)
1. 회사는 다음과 같은 서비스를 제공합니다.
   가. 전자상거래 서비스(통신판매중개서비스 포함) 및 부수 서비스
   나. 기타 회사가 정하는 서비스 또는 업무
2. 회사는 상품 등의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 상품 등의 내용을 변경할 수 있습니다. 이 경우에는 변경된 상품 등의 내용 및 제공일자를 명시하여 현재의 상품 등의 내용을 게시한 곳에 즉시 공지합니다.
3. 회사가 제공하기로 회원과 계약을 체결한 서비스의 내용을 상품 등의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 회원에게 통지 가능한 주소로 즉시 통지합니다.
4. 전항의 경우 회사는 이로 인하여 회원이 입은 인과관계가 입증된 실제 손해를 배상합니다. 다만, 회사가 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.
 
제 5 조 (서비스의 중단)
1. 회사는 컴퓨터 등 정보통신설비의 보수점검•교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.
2. 회사는 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대하여 배상합니다. 단, 회사가 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.
3. 사업종목의 전환, 사업의 포기, 업체간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 회사는 제8조에 정한 방법으로 이용자에게 통지하고 당초 회사에서 제시한 조건에 따라 소비자에게 보상합니다. 다만, 회사가 보상기준 등을 고지하지 아니한 경우에는 이용자들의 마일리지 또는 적립금 등을 회사에서 통용되는 통화가치에 상응하는 현물 또는 현금으로 이용자에게 지급합니다.
 
제 6 조 (회원가입)
1. 이용자는 회사가 정한 가입양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로써 회원가입을 신청합니다. 회사는 이러한 신청에 있어 전문기관을 통한 실명확인 및 본인인증을 요청할 수 있습니다.
2. 회사는 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다. 회사가 회원가입신청의 승인을 거부하거나 유보하는 경우 원칙적으로 이를 회원에게 알립니다.
   가. 가입신청자가 이 약관 제7조 제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우. 다만, 제7조 제3항에 의한 회원자격 상실 후 3년이 경과한 자로서 회사의 회원 재가입 승낙을 얻은 경우에는 예외로 한다.
   나. 등록내용에 허위, 기재누락, 오기가 있는 경우
   다. 기타 회원으로 등록하는 것이 쇼핑몰의 기술상 현저히 지장이 있다고 판단되는 경우
   라. 회원가입 및 전자상거래상의 계약에 관한 서비스는 만 14세 이상인 자에 한함
3. 회원가입계약의 성립시기는 회사의 승낙이 이용신청자에게 도달한 시점으로 합니다.
4. 회원은 회원가입시 등록한 사항에 변경이 있는 경우 상당한 기간 이내에 회사에 대하여 회원정보 수정 등의 방법으로 그 변경사항을 알려야 합니다.
5. 회사는 회원에 대하여 『영화 및 비디오물의 진흥에 관한 법률』 및 『청소년 보호법』 등에 따른 등급 및 연령준수를 위해 이용제한이나 등급별 제한을 할 수 있습니다.
 
제 7 조 (회원 탈퇴 및 자격 상실 등)
1. 회원은 회사에 언제든지 탈퇴를 요청할 수 있으며, 회사는 즉시 회원탈퇴를 처리합니다. 단, 회원탈퇴시 적립금 등 회원으로서의 모든 혜택을 소멸됩니다.
2. 회원이 다음 각 호의 사유에 해당하는 경우, 회사는 회원자격을 제한 및 정지시킬 수 있습니다.
   가. 가입신청시에 허위 내용을 등록하거나 타인의 정보를 도용한 경우
   나. 사이트를 이용하여 구입한 재화 등의 대금, 기타 사이트 이용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우
   다. 다른 사람의 사이트 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우
   라. 사이트를 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
3. 회사가 회원 자격을 제한•정지 시킨 후 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 회사는 회원자격을 상실시킬 수 있습니다.
4. 회사가 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다.
 
제 8 조 (회원에 대한 통지)
1. 회사가 회원에 대한 통지를 하는 경우, 회원이 미리 약정하여 지정한 전자우편주소나 SMS 등으로 할 수 있습니다.
2. 회사는 불특정다수 회원에 대한 통지의 경우 1주일 이상 사이트의 공지사항(고객센터)에 게시함으로써 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래에 관련하여 중대한 영향을 미치는 사항에 대하여는 개별 통지합니다.
 
제 9 조 (정보의 제공 및 광고의 게재)
1. 회사는 회원이 서비스 이용 중 필요하다고 인정되는 다양한 정보를 공지사항 또는 전자우편이나 서신우편, SMS, 전화 등의 방법으로 회원에게 제공할 수 있습니다. 다만, 회원은 관련법에 따른 거래관련정보 및 고객문의 등에 대한 답변 등을 제외하고는 언제든지 전자우편 등에 대해서 수신 거절을 할 수 있습니다.
2. 회사는 서비스의 운영과 관련하여 서비스 화면, 홈페이지, 전자우편 등에 광고를 게재할 수 있습니다. 광고가 게재된 전자우편 등을 수신한 회원은 수신거절의 의사표시를 할 수 있으며, 회사는 수신거절을 위한 방법을 회원에게 제공합니다.
 
제 10 조 (회사의 의무)
1. 회사는 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 상품 등을 제공하는데 최선을 다하여야 합니다.
2. 회사는 회원이 안전하게 서비스를 이용할 수 있도록 회원의 개인정보(신용정보 포함)보호를 위한 보안시스템을 갖추어야 하며, 개인정보취급방침을 공시하고 준수합니다.
3. 회사는 이용자가 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.
4. 회사는 회원으로부터 제기되는 의견이나 불만이 정당하다고 객관적으로 인정될 경우에는 적절한 절차를 거쳐 즉시 처리하여야 합니다. 다만, 즉시 처리가 곤란한 경우에는 회원에게 그 사유와 처리일정을 통보하여야 합니다.
 
제 11 조 (회원의 ID 및 비밀번호에 대한 의무)
1. ID와 비밀번호에 관한 관리책임은 회원에게 있으며, 이를 소홀히 하여 발생한 모든 민∙형사상의 책임은 회원 자신에게 있습니다.
2. 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.
3. 회원이 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 즉시 회사에 통보하고 회사의 안내가 있는 경우에는 그에 따라야 합니다.
4. 회원이 제3항에 따른 통지를 하지 않거나 회사의 조치에 응하지 아니하여 발생하는 모든 불이익에 대한 책임은 회원에게 있습니다.
 
제 12 조 (회원의 의무)
1. 회원은 관련법령, 이 약관의 규정, 이용안내 등 회사가 통지하는 사항을 준수하여야 하며, 기타 회사 업무에 방해되는 행위를 하여서는 안됩니다.
2. 회원은 다음 각 호의 행위를 하여서는 안 됩니다.
   가. 신청 또는 변경시 허위 내용의 등록
   나. 타인의 정보도용
   다. 사이트에 게시된 정보의 변경
   라. 회사가 정한 정보 이외의 정보(컴퓨터 프로그램 등)의 송신 또는 게시
   마. 회사 기타 제3자의 저작권 등 지식재산권에 대한 침해
   바. 회사 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
   사. 외설 또는 폭력적인 메시지∙화상∙음성 기타 공서양속에 반하는 정보를 사이트에 공개 또는 게시하는 행위
   아. 회사의 동의 없이 영리를 목적으로 서비스를 사용하는 행위
 
제 13 조 (개인정보보호)
1. 회사는 회원의 개인정보 수집시 서비스제공을 위하여 필요한 범위에서 최소한의 개인정보를 수집합니다.
2. 회사는 회원가입시 구매계약이행에 필요한 정보를 미리 수집하지 않습니다. 다만, 관련 법령상 의무이행을 위하여 구매계약 이전에 본인확인이 필요한 경우로서 최소한의 특정 개인정보를 수집하는 경우에는 그러하지 아니합니다.
3. 회사는 회원의 개인정보를 수집•이용하는 때에는 당해 회원에게 그 목적을 고지하고 동의를 받습니다.
4. 회사는 수집된 개인정보를 목적외의 용도로 이용할 수 없으며, 새로운 이용목적이 발생한 경우 또는 제3자에게 제공하는 경우에는 이용•제공단계에서 당해 회원에게 그 목적을 고지하고 동의를 받습니다. 다만, 관련 법령에 달리 정함이 있는 경우에는 예외로 합니다.
5. 회사가 제2항과 제3항에 의해 회원의 동의를 받아야 하는 경우에는 개인정보 관리 책임자의 신원(소속, 성명 및 전화번호, 기타 연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사항(제공받은 자, 제공목적 및 제공할 정보의 내용) 등 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』 에서 규정한 사항을 미리 명시하거나 고지해야 하며 회원은 언제든지 이 동의를 철회할 수 있습니다.
6. 회원은 언제든지 회사가 가지고 있는 자신의 개인정보에 대해 열람 및 오류 정정을 요구할 수 있으며 회사는 이에 대해 지체 없이 필요한 조치를 취할 의무를 집니다. 회원이 오류의 정정을 요구한 경우에는 회사는 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않습니다.
7. 회사는 개인정보 보호를 위하여 회원의 개인정보를 취급하는 자를 최소한으로 제한하여야 하며 신용카드, 은행계좌 등을 포함한 회원의 개인정보의 분실, 도난, 유출, 동의 없는 제3자 제공, 변조 등으로 인한 이용자의 손해에 대하여 모든 책임을 집니다.
8. 회사 또는 그로부터 개인정보를 제공받은 제3자는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 당해 개인정보를 지체 없이 파기합니다.
9. 회사는 개인정보의 수집•이용•제공에 관한 동의란을 미리 선택한 것으로 설정해두지 않습니다. 또한 개인정보의 수집•이용•제공에 관한 동의거절시 제한되는 서비스를 구체적으로 명시하고, 필수수집항목이 아닌 개인정보의 수집•이용•제공에 관한 회원의 동의 거절을 이유로 회원가입 등 서비스 제공을 제한하거나 거절하지 않습니다.
10. 회사의 사이트(제2조 제1항에서 정한 범위 내) 이외의 링크된 사이트에서는 회사의 개인정보취급방침이 적용되지 않습니다. 링크된 사이트 및 상품 등을 제공하는 제3자의 개인정보 취급과 관련하여서는 해당 사이트 및 제3자의 개인정보취급방침을 확인할 책임이 회원에게 있으며, 회사는 이에 대하여 책임을 부담하지 않습니다.
11. 회사는 다음과 같은 경우에 법이 허용하는 범위 내에서 회원의 개인정보를 제3자에게 제공할 수 있습니다.
   가. 수사기관이나 기타 정부기관으로부터 정보제공을 요청 받은 경우
   나. 회원이 법령을 위반하는 등의 부정행위를 확인하기 위해 필요한 경우
   다. 판매자 또는 배송업체 등에게 거래 및 배송 등에 필요한 최소한의 회원의 정보(성명, 주소, 전화번호)를 제공하는 경우
   라. 구매가 성사된 때에 그 이행을 위하여 필요한 경우와 구매가 종료된 이후에도 반품, 교환, 환불, 취소 등을 위하여 필요한 경우
   마. 기타 법률에 의해 요구되는 경우
 
제 14 조 (지급방법)
1. 사이트에서 구매한 상품 등에 대한 대금지급방법은 다음 각 호의 방법 중 가용한 방법으로 할 수 있습니다. 단, 회사는 회원의 지급방법에 대하여 상품 등의 대금에 어떠한 명목의 수수료도 추가하여 징수할 수 없습니다.
   가. 폰뱅킹, 인터넷뱅킹, 메일 뱅킹 등의 각종 계좌이체
   나. 선불카드, 직불카드, 신용카드 등의 각종 카드 결제
   다. 온라인 무통장입금
   라. 전자화폐에 의한 결제
   마. 수령시 대금지급
   바. 마일리지 등 회사가 지급한 적립금에 의한 결제
   사. 회사가 계약을 맺었거나 회사가 인정한 상품권에 의한 결제
   아. 기타 전자적 지급 방법에 의한 대금 지급 등
2. 회원이 구매대금의 결제와 관련하여 입력한 정보 및 그 정보와 관련하여 발생한 책임과 불이익은 전적으로 회원이 부담합니다.
 
제 15 조 (할인쿠폰)
1. 할인쿠폰은 회사가 무상으로 발행하는 쿠폰으로, 발행대상, 발행경로, 사용대상 등에 따라 구분될 수 있으며, 할인쿠폰의 세부구분, 할인금액(할인율), 사용방법, 사용기한 및 제한에 대한 사항은 할인쿠폰 또는 서비스화면에 표시됩니다. 할인쿠폰의 종류 및 내용과 발급여부에 관하여는 회사의 각 사이트에 대한 정책에 따라 달라질 수 있습니다.
2. 할인쿠폰은 현금으로 출금될 수 없으며, 할인쿠폰에 표시된 유효기간이 만료되거나 이용계약이 종료되면 소멸합니다.
3. 할인쿠폰은 회사에서 별도로 명시한 경우를 제외하고는 타인에게 양도할 수 없으며, 부정한 목적이나 용도로 사용할 수 없습니다. 이를 위반한 경우 회사는 할인쿠폰을 소멸시키거나 회원자격을 정지할 수 있습니다.
4. 회원이 부정한 방법으로 할인쿠폰을 획득한 사실이 확인될 경우 회사는 회원의 할인쿠폰 회수, ID 삭제 및 형사고발 등 기타 조치를 취할 수 있습니다.

 
제2장 전자상거래 서비스
 
제1절 리테일 서비스
 
제 16 조 (구매신청)
1. 회원은 사이트상에서 다음 또는 이와 유사한 방법에 의하여 구매를 신청하며, 회사는 회원이 구매신청을 함에 있어서 다음의 각 내용을 알기 쉽게 제공하여야 합니다.
   가. 상품 등의 검색 및 선택
   나. 받는 사람의 성명, 주소, 전화번호, 전자우편주소(또는 이동전화번호) 등의 입력
   다. 약관내용, 청약철회권이 제한되는 서비스, 배송료, 설치비 등의 비용부담과 관련한 내용에 대한 확인
   라. 이 약관에 동의하고 위 다호의 사항을 확인하거나 거부하는 표시(예. 마우스 클릭)
   마. 상품 등의 구매신청 및 이에 관한 확인 또는 회사의 확인에 대한 동의
   바. 결제방법의 선택
2. 회사가 제3자에게 구매자 개인정보를 제공•위탁할 필요가 있는 경우 실제 구매신청시 구매자의 동의를 받아야 하며, 회원가입시 미리 포괄적으로 동의를 받지 않습니다. 이때 회사는 제공되는 개인정보 항목, 제공받는 자, 제공받는 자의 개인정보 이용목적 및 보유•이용기간 등을 구매자에게 명시하여야 합니다. 다만, 『정보통신망이용촉진 및 정보보호 등에 관한 법률』 제25조 제1항에 의한 개인정보 취급위탁의 경우 동 관련 법령에 달리 정함이 있는 경우에는 그에 따릅니다.
 
제 17 조 (계약의 성립)
1. 회사는 제19조와 같은 구매신청에 대하여 다음 각 호에 해당하면 승낙하지 않을 수 있습니다. 다만, 미성년자와 계약을 체결하는 경우에는 법정대리인의 동의를 얻지 못하면 미성년자 본인 또는 법정대리인이 계약을 취소할 수 있다는 내용을 고지하여야 합니다.
   가. 신청내용에 허위, 기재누락, 오기가 있는 경우
   나. 미성년자가 담배, 주류 등 청소년보호법에서 금지하는 재화 등을 구매하는 경우
   다. 기타 구매신청에 승낙하는 것이 회사의 기술상 현저히 지장이 있다고 판단하는 경우
   라. 구매신청 고객이 제7조에 따른 회원 자격이 제한, 정지 또는 상실된 회원으로 확인되었을 경우
   마. 구매신청 고객이 재판매의 목적으로 상품 등을 중복 구매하는 등 사이트의 거래질서를 방해한 경우
2. 회사의 승낙이 제21조 제1항의 수신확인통지형태로 회원에게 도달한 시점에 계약이 성립한 것으로 봅니다.
3. 회사의 승낙의 의사표시에는 회원의 구매신청에 대한 확인 및 판매가능여부, 구매신청의 정정, 취소 등에 관한 정보 등을 포함하여야 합니다.
4. 계약이 성립한 후 회사가 제1항 각 호의 사유를 발견한 경우 회사는 즉시 계약을 취소할 수 있으며, 계약 취소시 고객이 결제한 상품 대금은 즉시 환불처리 됩니다.
 
제 18 조 (수신확인통지•구매신청 변경 및 취소)
1. 회사는 회원의 구매신청이 있는 경우 회원에게 수신확인통지를 합니다.
2. 수신확인통지를 받은 회원은 의사표시의 불일치 등이 있는 경우에는 수신확인통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있고, 회사는 배송 전에 회원의 요청이 있는 경우에는 지체 없이 그 요청에 따라 처리하여야 합니다. 다만, 이미 대금을 지불한 경우에는 제23조의 청약철회 등에 관한 규정에 따릅니다.
 
제 19 조 (상품 등의 공급)
1. 회사는 회원과 상품 등의 공급시기에 관하여 별도의 약정이 없는 이상, 회원이 청약을 한 날로부터 7일 이내에 상품 등을 배송할 수 있도록 주문제작, 포장 등 기타의 필요한 조치를 취합니다. 다만, 회사가 이미 상품 등의 대금의 전부 또는 일부를 받은 경우에는 대금의 전부 또는 일부를 받은 날부터 3영업일 이내에 조치를 취합니다. 이때 회사는 회원이 상품 등의 공급절차 및 진행사항을 확인할 수 있도록 적절한 조치를 합니다.
2. 회사는 회원이 구매한 상품 등에 대해 배송수단, 수단별 배송비용, 부담자, 수단별 배송예상기간 등을 명시합니다.
3. 회사와 고객간에 상품의 인도시기 및 쿠폰의 제공시기에 관하여 별도의 약정이 있는 경우에는 이 약관에 우선합니다.
 
제 20 조 (환급)
회사는 회원이 구매 신청한 상품 등이 품절 등의 사유로 인도 또는 제공할 수 없을 때에는 지체 없이 그 사유를 회원에게 통지하고, 사전에 상품 등의 대금을 받은 경우에는 대금을 받은 날로부터 3영업일 이내에 환급하거나 환급에 필요한 조치를 취합니다.
 
제 21 조 (청약철회 등)
1. 회사의 상품 등의 구매취소 및 환불 규정은 『전자상거래 등에서의 소비자보호에 관한 법률』 등 관련 법령을 준수합니다.
2. 회사는 회원이 구매 신청한 쿠폰 판매수량이 해당 서비스가 정한 개별 조건 상의 목표수량을 달성하지 못해 공동구매 자체가 성사되지 않는 경우에는, 그 사유를 회원에게 통지하고, 사유발생일 다음날 오전 0시부터 3영업일 이내에 계약해지 및 환급절차를 취합니다. 단, 회원이 구매한 상품이 이미 주문 접수된 경우에는 개별조건상의 최소 판매수량에 미달하더라도 취소 없이 상품을 배송 처리합니다.
3. 회사와 상품 등의 구매에 관한 계약을 체결한 회원은 『전자상거래 등에서의 소비자보호에 관한 법률』 제12조 제2항에 따른 계약내용에 관한 서면(구매확인의 전자우편 또는 SMS 통지 등)을 받은 날(그 서면을 받은 때보다 상품 등의 공급이 늦게 이루어진 경우에는 상품 등을 공급받거나 상품 등의 공급이 시작된 날을 말합니다)부터 7일 이내에는 청약을 철회할 수 있습니다. 다만, 청약철회에 관하여 『전자상거래 등에서의 소비자보호에 관한 법률』에 달리 정함이 있는 경우에는 동 법 규정에 따릅니다.
4. 회원은 상품 등을 배송 받은 경우 다음 각 호의 1에 해당하는 경우에는 반품 및 교환을 할 수 없습니다.
   가. 회원에게 책임 있는 사유로 상품 등이 멸실 또는 훼손된 경우(다만, 상품 등의 내용을 확인하기 위하여 포장 등을 훼손한 경우는 제외함)
   나. 회원의 사용 또는 일부 소비에 의하여 상품 등의 가치가 현저히 감소한 경우
   다. 시간의 경과에 의하여 재판매가 곤란할 정도로 상품 등의 가치가 현저히 감소한 경우
   라. 같은 성능을 가진 상품 등으로 복제가 가능한 경우 그 원본인 상품 등의 포장을 훼손한 경우
   마. 회사가 상품 등의 청약철회 등의 제한에 관해 사전에 고지한 경우
5. 회원은 제3항 및 제4항의 규정에 불구하고 상품 등의 내용이 표시∙광고 내용과 다르거나 계약내용과 다르게 이행된 때에는 당해 상품 등을 공급받은 날부터 3월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 청약철회 등을 할 수 있습니다.
6. 공동구매하는 상품 등의 판매시한을 기준으로 공동구매가 성사된 이상, 추후 청약철회로 인하여 당초 정한 최소 구매인원에 미달되더라도, 이미 성사된 공동구매에는 아무런 영향을 미치지 아니합니다.
 
제 22 조 (청약철회 등의 효과)
1. 회사는 회원으로부터 쿠폰취소 요청 또는 상품 등을 반환 받은 경우 3영업일 이내에 이미 지급받은 상품 등의 대금을 환급합니다. 이 경우 회사가 회원에게 상품 등의 환급을 지연한 때에는 그 지연기간에 대하여 『전자상거래 등에서의 소비자보호에 관한 법률 시행령』 제21조의2에서 정하는 지연이자율을 곱하여 산정한 지연이자를 지급합니다.
2. 회사는 위 대금을 환급함에 있어서 회원이 신용카드 또는 전자화폐 등의 결제수단으로 상품 등의 대금을 지급한 때에는 지체없이 당해 결제수단을 제공한 사업자로 하여금 상품 등의 대금의 청구를 정지 또는 취소하도록 요청합니다.
3. 회사는 이미 쿠폰 또는 상품 등이 일부 사용 또는 일부 소비된 경우에는 일부 소비에 의하여 회원이 얻은 이익 또는 그 쿠폰 또는 상품 등의 공급에 소요된 비용에 상당하는 금액으로서 아래의 각 호에 해당하는 금액의 지급을 회원에게 청구할 수 있습니다.
   가. 상품 등의 사용으로 인하여 소모성 부품의 재판매가 곤란하거나 재판매가격이 현저히 하락하는 경우에는 당해 소모성 부품의 공급에 소요된 비용
   나. 다수의 동일한 가분물로 구성된 상품 등의 경우에는 회원의 일부 소비로 인하여 소비된 부분의 공급에 소요된 비용
4. 청약철회 등의 경우 공급받은 상품 등의 반환에 필요한 비용은 회원이 부담합니다. 회사는 이용자에게 청약철회 등을 이유로 위약금 또는 손해배상을 청구하지 않습니다. 다만, 상품 등의 내용이 표시∙광고 내용과 다르거나 계약내용과 다르게 이행되어 청약철회 등을 하는 경우 상품 등의 반환에 필요한 비용은 회사가 부담합니다.
5. 회원의 단순변심에 의한 취소일 경우 환불처리에 발생하는 수수료와 기타 제반 비용은 회원이 부담합니다.
6. 기타 이 약관 및 사이트의 이용안내에 규정되지 않은 취소 및 환불에 대한 사항에 대해서는 소비자분쟁해결기준에서 정한 바에 따릅니다.
 
제 23 조 (상품 등의 취소 및 환불의 특칙)
상품의 반품에 따른 환불은 반품하는 상품이 판매자에게 도착되고, 반품사유 및 반품배송비 부담자가 확인된 이후에 이루어집니다.
 
제 24 조 (회사의 면책)
1. 회사는 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다.
2. 회사 또는 제조사의 사정으로 인하여 상품 등의 수량을 확보하지 못하여 상품 등을 공급하지 못할 수 있으며, 이 경우 회사는 회원에게 상품공급이 어렵다는 점을 3회 이상 고지한 후 환불 및 회사에서 정한 추가보상을 진행합니다.
3. 회사는 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않습니다.
4. 회사는 회원이 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며, 그 밖의 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않습니다.
5. 회사는 회원이 게재한 정보, 자료, 사실의 신뢰도, 정확성 등 내용에 관해서는 책임을 지지 않습니다.
6. 회사는 회원간 또는 회원과 제3자 상호간에 회사의 서비스를 매개로 하여 거래 등을 한 경우에는 책임이 면제됩니다.
7. 회사는 무료로 제공되는 서비스 이용과 관련하여 관련법에 특별한 규정이 없는 한 책임을 지지 않습니다.
 
제2절 마켓플레이스 서비스
 
제 25 조 (구매자의 서비스 이용)
1. 회사는 통신판매중개자로서 구매자와 판매자 간의 자유로운 상품의 거래를 위한 시스템을 운영 및 관리, 제공할 뿐이므로, 구매자는 상품을 구매하기 전에 반드시 판매자가 사이트 내에 작성한 상품의 상세 내용과 거래의 조건을 정확하게 확인해야 합니다. 구매하려는 상품의 내용과 거래의 조건을 확인하지 않고 구매하여 발생한 모든 손실과 손해는 구매자 본인이 부담합니다.
2. 구매자는 구매의사 없이 판매자의 판매상품에 구매의사를 표시하여서는 아니 되고, 판매자의 상품판매 기회를 방해하거나 다른 구매자의 구매기회를 방해하여서는 아니 됩니다.
3. 회사는 구매자가 제2항을 위반한 경우에는 구매자의 해당 아이디(ID)[해당 아이디(ID)와 동일인 소유로 확인되는 아이디(ID) 포함]대하여 회원자격을 정지하는 등의 조치를 할 수 있습니다.
4. 구매자는 이 약관 및 회사가 서비스 화면에서 공지하는 내용을 준수하여야 하고, 이 약관 및 공지 내용을 위반하거나 이행하지 않아서 발생하는 모든 손실과 손해에 대하여 책임을 집니다.
5. 구매자는 구매한 상품에 청약철회의 원인이 발생하면 수령한 상품을 임의로 사용하거나 훼손되도록 방치해서는 아니 되고, 청약철회 상품의 임의사용이나 상품보관의 미흡으로 상품이 훼손되었을 때에는 그에 합당한 비용을 부담하여야 합니다.
6. 구매자는 판매자와 상품매매 절차에서 분쟁이 발생하면 분쟁의 해결을 위하여 성실히 임해야 하며, 분쟁해결의 불성실로 판매자와 회사에 손실과 손해가 발생하면 그에 대한 모든 책임을 부담하여야 합니다.
7. 구매자는 상품을 구매할 경우에는 본인 명의의 결제수단을 사용하여야 하고, 타인의 결제수단을 임의로 사용하여서는 아니 되며, 타인의 결제수단을 임의로 사용하여 회사, 판매자 및 해당 결제수단 소유자에게 발생하는 손실 또는 손해 등에 대한 모든 책임을 부담합니다.
8. 구매자는 매매대금의 결제와 관련하여 구매자가 입력한 정보 및 그 정보와 관련하여 발생하는 제반 문제에 대한 모든 책임을 부담합니다.
9. 회사는 구매자가 상품을 주문한 후 5영업일(토요일과 공휴일 제외) 이내에 매매대금을 결제하지 아니하는 경우에는 해당 주문을 취소한 것으로 간주하여 이를 자동으로 취소할 수 있습니다.
10. 회사는 구매자의 매매대금 결제 시 해당 결제수단에 대하여 정당한 사용권한이 있는지 확인할 수 있고, 이에 대한 확인이 완료될 때까지 해당 거래의 진행을 중지하거나 해당 거래를 취소할 수 있습니다.
11. 회사는 구매자에게 서비스가 안전하게 제공될 수 있도록 각종 설비와 자료를 관리하고, 서비스가 제공 목적에 맞게 이용되고 있는지 확인합니다. 이 경우 구매자에게 이용 목적에 위반되는 부분이 있는 것으로 확인되면 사유의 소명을 요청할 수 있고, 주문취소 등 필요한 조치를 할 수 있습니다.
12. 구매자는 회사가 구매자의 서비스 이용 편의를 높이기 위하여 판매자 등으로부터 상품 관련 정보를 제공받아 게재하거나 제3자가 제공하는 방식으로 사이트를 통하여 참조용 상품정보나 관련 콘텐츠를 제공하는 경우에도 상품 구매와 관련하여 자신의 판단과 책임으로 결정하여야 합니다. 이 경우 회사는 어떠한 경우에도 구매자의 구매결정에 대하여 책임을 부담하지 아니 합니다.
13. 미성년자가 사이트를 통하여 상품을 구매하는 경우에 법정대리인이 해당 계약에 대하여 동의하지 아니하면, 미성년자 본인 또는 법정대리인은 그 계약을 취소할 수 있습니다.
 
제 26 조 (결제대금예치서비스 이용)
1. “결제대금예치서비스”라 함은 매매계약이 체결되고 구매자가 대금을 결제하는 경우에, 구매자의 결제대금 보호를 위하여 회사가 일정 기간 동안 결제대금을 예치하는 서비스를 말합니다.
2. 회사는 구매자와 판매자 간에 이루어지는 상품매매의 안전성과 신뢰성을 높이고, 상품을 인수하기 전에 대금을 결제해야 하는 구매자를 보호하기 위하여 결제대금예치서비스를 제공합니다.
3. 회사는 결제대금예치서비스의 제공과 관련하여 판매자 또는 구매자를 대리하는 것이 아닌 것은 물론 상품의 매매와 관련하여 판매자 또는 구매자의 의무를 대행하는 것도 아닙니다.
4. 구매자는 결제대금예치서비스를 통하여 구매대금을 결제하는 과정에서 발생하는 송금수수료 등을 부담하여야 합니다.
5. 구매자는 회사가 결제대금예치서비스를 제공하는 과정에서 발생하는 이자 등에 대하여 회사에게 그 반환을 청구할 수 없습니다.
6. 구매자는 결제대금예치서비스를 이용한 경우에는 해당 상품 배송이 완료되었을 때 회사에 대하여 구매확정, 교환 또는 반품의 의사표시를 하여야 합니다.
7. 회사는 배송완료가 되었음에도 불구하고 구매확정기간 내에 구매자가 교환 또는 반품의 의사표시를 하지 아니하는 경우에는 구매자에게 구매확정의 의사가 있다고 간주합니다.
8. 결제대금예치서비스는 제6항에 따른 의사표시가 있거나 제7항에 따른 구매확정의 의사가 있는 것으로 간주되는 상황이 발생한 경우에 종료됩니다.
9. 구매자는 결제대금예치서비스가 종료된 이후에 해당 구매 건에 대하여 청약철회, 취소, 해제, 무효 등의 사유가 발생한 경우에는 판매자와 직접 청약철회, 취소, 해제 및 환불 등에 관한 절차를 진행해야 합니다.
 
제 27 조 (배송 및 거래완료)
1. 회사는 배송과 관련하여 판매자, 구매자, 배송업체 등 관련 당사자 사이에 분쟁 등이 발생하는 경우에는 이에 관여하지 않으며 어떠한 책임도 부담하지 아니합니다. 이 경우 해당 분쟁 등은 관련 당사자가 직접 해결하여야 합니다.
2. 회사는 구매확정이 이루어진 이후에 상품의 하자 등 결제대금의 환불사유가 발생하는 경우에는 이에 개입하지 아니 합니다.
3. 구매확정 이후에 발생하는 판매자와 구매자 간 모든 분쟁은 거래 당사자인 판매자와 구매자가 해결하여야 합니다.
4. 회사는 구매확정 기간 내에 구매확정, 교환 또는 반품에 대한 의사표시가 없는 경우에는 해당 거래에 대하여 구매자의 구매확정 의사표시가 있는 것으로 간주하여 자동구매확정으로 처리할 수 있습니다.
5. 회사는 구매확정의 의사표시가 있거나 자동구매확정 처리가 완료되는 경우에는 예치 중인 결제대금 중 판매자에게 정산하여야 할 금액을 판매자와 사이에 정해진 방법에 따라 판매자에게 지급할 수 있습니다.
6. 구매자는 구매확정 등의 의사표시를 하였거나 자동구매확정이 이루어진 경우에는 회사에 대하여 상품 미수령, 반품 등의 사유로 이의를 제기할 수 없습니다. 이 경우 상품구매대금의 환불, 상품의 교환 등 모든 문제는 판매자와 직접 해결해야 합니다.
 
제 28 조 (청약철회 등)
1. 구매자는 『전자상거래 등에서의 소비자보호에 관한 법률』 등 관련 법령에 따라 상품을 배송받은 날로부터 7일 이내에 청약철회 등을 할 수 있습니다. 다만, 청약철회에 관하여 『전자상거래 등에서의 소비자보호에 관한 법률』에 달리 정함이 있는 경우에는 동 법 규정에 따릅니다.
2. 구매자는 제1항에도 불구하고 다음 각 호의 어느 하나에 해당하는 경우에는 반품이나 교환을 요청할 수 없습니다.
   가. 구매자의 책임 있는 사유로 상품이 멸실 또는 훼손된 경우
   나. 구매자의 사용 또는 일부 소비로 인하여 상품의 가치가 현저히 감소한 경우
   다. 시간의 경과에 의하여 재판매가 곤란할 정도로 상품의 가치가 현저히 감소한 경우
   라. 복제 가능한 상품의 포장을 훼손한 경우
   마. 주문에 따라 개별적으로 생산되는 상품 등 판매자에게 회복할 수 없는 중대한 피해가 예상되는 경우로서 사전에 해당 거래에 대하여 별도로 그 사실을 고지하고 구매자의 서면(전자문서를 포함)에 의한 동의를 받은 경우
   바. 그 밖에 법령에 따른 반품 제한 사유에 해당되는 경우
3. 구매자는 제1항 및 제2항에도 불구하고 상품의 내용이 표시∙광고 내용과 다르거나 계약내용과 다르게 이행된 경우에는 해당 상품을 공급받은 날부터 3월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 청약철회 등을 할 수 있습니다.
4. 회사는 구매자로부터 교환 또는 반품의 의사표시를 받은 경우에는 즉시 그 사실을 판매자에게 통보합니다.
5. 구매자는 제1항 또는 제3항에 따라 교환신청을 하더라도 판매자에게 교환할 상품의 재고가 없는 경우에는 해당 상품의 교환을 받을 수 없습니다. 이 경우 해당 교환신청은 반품으로 처리됩니다.
6. 반품이나 교환에 필요한 배송비 및 그 밖에 필요 비용은 귀책사유가 있는 당사자가 부담합니다. 이 경우 상품하자 또는 오배송의 경우에는 판매자가 그 비용을 부담하나 구매자의 단순 변심의 경우에는 구매자가 그 비용을 부담합니다.
7. 판매자는 구매자가 배송상의 문제로 손해를 입은 경우에는 그에 대한 책임을 부담합니다.
8. 회사는 판매자가 구매자의 결제완료에 대한 통지를 받은 이후에도 상당 기간 배송 절차 등을 이행하지 아니하여 구매자로부터 주문취소 요청를 받거나 개별적인 정책으로 미리 정한 자동환불처리 사안에 해당하는 경우에는 해당 거래를 취소하고 결제대금예치서비스 이용 중인 결제대금을 구매자에게 환불할 수 있습니다.
9. 회사는 판매자가 구매자의 교환 또는 반품신청에 대하여 적극적으로 임하지 않거나 지연하는 경우에는 구매자에게 그 사유를 파악하여 정당한 사유가 있는 경우에는 해당 거래를 취소하는 한편 구매자에게 예치 중인 결제대금을 환불할 수 있습니다. 다만 구매자의 교환 또는 반품신청이 정당하지 않다고 판단되는 경우에는 그러하지 아니합니다.
10. 회사는 구매자가 교환 또는 반품신청을 한 날로부터 14일이 지날 때까지 이미 수령한 상품을 판매자에게 반환하지 아니 하거나 전화, 이메일 등으로 연락되지 아니하는 경우에는 해당 구매자의 교환 또는 반품신청은 효력을 상실합니다.
11. 회사는 거래가 취소되어 결제대금을 환불하는 경우에는 그 취소된 날로부터 2영업일 이내에 환불에 필요한 조치를 합니다. 이 경우 신용카드로 결제가 이루어진 경우에는 해당 신용카드 결제취소를 통해서만 가능하고, 어떠한 경우에도 현금으로 환불되지는 아니합니다.
12. 구매자가 상품준비 중 상태에서 해당 주문을 취소하는 경우에 해당 주문 및 결제는 즉시 취소처리되는 것이 원칙이나, 이미 상품이 발송된 경우에는 취소가 아닌 반품절차에 따라야 하고, 발송된 상품의 왕복배송비는 구매자가 부담하여야 합니다.
 
제 29 조 (금지행위)
1. 판매자와 구매자가 회사가 제공하는 서비스를 이용하지 아니하고 직접 거래하는 행위(직거래)는 거래의 안전을 위하여 금지됩니다. 이 경우 직거래를 통하여 발생한 제반 문제에 대한 책임은 거래 당사자에게 있으며 회사는 이에 대해 어떠한 책임도 부담하지 아니 합니다.
2. 회사가 제공하는 서비스 이용방법을 따르지 아니하고 비정상적인 방법으로 서비스를 이용하거나 시스템에 접근하는 행위는 금지됩니다.
3. 타인의 명의, 카드정보, 계좌정보 등을 무단으로 사용하여 회사가 제공하는 서비스를 이용하는 행위는 금지됩니다.
4. 물품판매 또는 용역제공을 가장하여 자금을 융통하는 것과 같이 여신전문금융업법 등 법령에 따라 금지된 방법으로 비정상적인 결제 행위는 금지됩니다.
5. 실제 상품의 배송이 없는 등 상품의 실질적인 구매의사가 없는 구매행위와 회사가 제공하는 할인율 등을 이용하여 비정상적인 거래를 하는 것은 금지됩니다.
6. 회사는 회원의 부당한 이용행위 또는 시스템 부정행위 등이 있는 경우에는 해당 회원에게 부가적으로 제공한 혜택의 일부 또는 전부의 회수, 서비스의 이용 제한, 이용계약 해지 등의 조치를 할 수 있습니다.
 
제 30 조 (분쟁조정)
1. 회사는 회원 상호 간 또는 회원과 제3자 간의 분쟁이 발생하는 경우에 이를 합리적이고 원활히 조정하기 위한 분쟁조정센터를 운영합니다.
2. 회원은 분쟁조정센터의 조정에 신의칙에 입각하여 성실히 응하여야 합니다.
 
제 31 조 (회사의 면책)
1. 회사는 통신판매중개자로서 구매자와 판매자 간의 자유로운 상품의 거래를 위한 시스템을 운영 및 관리, 제공할 뿐이므로 구매자 또는 판매자를 대리하지 않으며, 회원 사이에 성립된 거래와 관련된 책임과 회원이 제공한 정보에 대한 책임은 해당 회원이 직접 부담하여야 합니다.
2. 회사는 판매자가 등록한 상품의 내용과 거래조건에 대해서 어떠한 보증이나 대리를 하지 않습니다. 따라서 구매자는 스스로 책임지고 상품을 구매해야 합니다.
3. 회사는 회원 간의 모든 행위(거래행위 포함)와 관련하여 판매의사 또는 구매의사의 존부 및 진정성, 등록 상품의 품질, 완전성, 안정성, 적법성 및 타인의 권리에 대한 비침해성, 구매자 또는 판매자가 입력하는 정보 및 그 정보를 통하여 링크된 URL에 게재된 자료의 진실성 또는 적법성 등 일체에 대하여 보증하지 아니하며, 이와 관련된 일체의 위험과 책임은 해당 당사자가 부담합니다.
4. 회사는 이용자의 귀책사유로 서비스 이용에 장애가 발생하는 것에 대하여 책임을 부담하지 아니합니다.
5. 회사는 이용자가 자신의 개인정보를 타인에게 유출하거나 제공하여 발생하는 피해에 대하여 책임을 부담하지 아니합니다.
6. 회사는 천재지변, 컴퓨터 등 정보통신설비의 보수, 점검, 교체, 고장 및 통신두절 등의 사유가 발생한 경우에는 서비스 제공을 일시적으로 중단할 수 있으며, 이와 관련하여 고의 또는 중대한 과실이 없는 한 어떠한 책임도 부담하지 아니합니다.
  
제3장 기타 사항
 
 
제 32 조 (저작권의 귀속 및 이용제한)
1. 회사가 작성한 저작물에 대한 저작권 및 기타 지식재산권은 회사에 귀속합니다.
2. 회사는 서비스와 관련하여 회원에게 회사가 정한 이용조건에 따라 계정, ID, 콘텐츠 등을 이용할 수 있는 이용권만을 부여하며, 회원은 서비스를 이용함으로써 얻은 정보 중 회사에게 지식재산권이 귀속된 정보를 회사의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리 목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.
3. 회원이 부정한 방법으로 할인쿠폰을 획득한 사실이 확인될 경우 회사는 회원의 할인쿠폰 회수, ID 삭제 및 형사고발 등 기타 조치를 취할 수 있습니다.
 
제 33 조 (회원의 게시물)
1. 회원이 작성한 게시물에 대한 모든 권리 및 책임은 이를 게시한 회원에게 있으며, 회사는 회원이 게시하거나 등록하는 서비스의 내용물이 다음 각 항에 해당한다고 판단되는 경우에 사전통지 없이 삭제할 수 있고, 이에 대하여 회사는 어떠한 책임도 지지 않습니다.
   가. 다른 회원 또는 제3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우
   나. 공서양속에 위반되는 내용일 경우
   다. 범죄적 행위에 결부된다고 인정되는 경우
   라. 회사의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우
   마. 회원이 사이트와 게시판에 음란물을 게재하거나 음란사이트를 링크하는 경우
   바. 회사로부터 사전 승인 받지 아니한 상업광고, 판촉내용을 게시하는 경우
   사. 해당 상품과 관련 없는 내용인 경우
   아. 정당한 사유 없이 당사의 영업을 방해하는 내용을 기재하는 경우
   자. 기타 관련법령에 위반된다고 판단되는 경우
2. 회원 탈퇴 이후 회원이 작성하였던 게시물 및 댓글 등은 삭제되지 않으며, 회원 탈퇴로 인하여 회원 정보가 삭제되어 작성자 본인을 확인할 수 없어 게시물 편집 및 삭제가 원천적으로 불가합니다. 회원이 작성한 게시물의 삭제를 원할 경우에는 회원 탈퇴 이전에 게시물을 모두 삭제하여야 합니다.
 
제 34 조 (게시물의 관리)
1. 회원의 게시물이 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』, 『개인정보보호법』 및 『저작권법』등 관련법령에 위반되는 내용을 포함하는 경우, 권리자는 관련법령이 정한 절차에 따라 해당 게시물의 게시중단 및 삭제 등을 요청할 수 있으며, 회사는 관련법령에 따라 조치를 취하여야 합니다.
2. 회사는 전항에 따른 권리자의 요청이 없는 경우라도 권리침해가 인정될 만한 사유가 있거나 기타 회사 정책 및 관련법에 위반되는 경우에는 관련법에 따라 해당 게시물에 대해 임시조치 등을 취할 수 있습니다.
3. 이 조에 따른 세부절차는 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』, 『개인정보보호법』 및 『저작권법』이 규정한 범위 내에서 회사가 정한 게시중단요청서비스에 따릅니다.
게시중단요청서비스 : 트렌디스트 : 070-8773-8991
 
제 35 조 (분쟁해결)
1. 회사는 회원이 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위해서 피해보상처리기구를 설치•운영합니다.
2. 회사는 회원으로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 회원에게 그 사유와 처리일정을 즉시 통보합니다.
3. 만약 본 약관의 환불 등 일부 규정이 대한민국의 강행법규와 상충되는 경우에는 그 강행법규에 따르기로 하고, 이로 인해 본 약관 중 일부 조항의 효력이 정지되는 경우에도 다른 조항의 효력에는 영향을 미치지 아니합니다.
 
제 36 조 (재판권 및 준거법)
1. 이 약관의 해석 및 회사와 회원간의 분쟁에 대하여는 대한민국의 법률을 적용합니다.
2. 이 약관 및 서비스 이용과 관련하여 회사와 회원 사이에 분쟁이 발생하여 소송이 제기되는 경우에는 『민사소송법』에 따라 관할법원을 정합니다.
  
부칙  1. 이 약관은 2016년 8월 10일부터 시행합니다. 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
<!-- 이용약관 -->
<!-- 개인정보취급방침 -->
<div class="modal fade bs-example-modal-lg usage_term" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">개인정보취급방침</h4>
      </div>
      <div class="modal-body">
        <p><(주)씨디에프브로스>('http://www.trd.st/'이하 '트렌디스트')은(는) 개인정보보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.
<(주)씨디에프브로스>('트렌디스트') 은(는) 회사는 개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
○ 본 방침은부터 2016년 8월 10일부터 시행됩니다.
 
1. 개인정보의 처리 목적 <(주)씨디에프브로스>('http://www.trd.st/'이하 '트렌디스트')은(는) 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시에는 사전동의를 구할 예정입니다.
가. 홈페이지 회원가입 및 관리
회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지, 각종 고지·통지, 고충처리, 분쟁 조정을 위한 기록 보존 등을 목적으로 개인정보를 처리합니다.
 
나. 민원사무 처리
민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락·통지, 처리결과 통보 등을 목적으로 개인정보를 처리합니다.
 
다. 재화 또는 서비스 제공
물품배송, 서비스 제공, 청구서 발송, 콘텐츠 제공, 맞춤 서비스 제공, 본인인증, 연령인증, 요금결제·정산 등을 목적으로 개인정보를 처리합니다.
 
라. 마케팅 및 광고에의 활용
신규 서비스(제품) 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공 , 인구통계학적 특성에 따른 서비스 제공 및 광고 게재 , 서비스의 유효성 확인, 접속빈도 파악 또는 회원의 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다.
   
2. 개인정보 파일 현황
1. 개인정보 파일명 : 트렌디스트_회원정보 - 개인정보 항목 : 이메일, 휴대전화번호, 자택주소, 자택전화번호, 비밀번호 질문과 답, 비밀번호, 로그인ID, 성별, 생년월일, 이름, 은행계좌정보, 서비스 이용 기록, 접속 로그, 쿠키, 접속 IP 정보, 결제기록 - 수집방법 : 홈페이지, 배송요청, 생성정보 수집 툴을 통한 수집 - 보유근거 : 서비스 내 구매,배송,판매 행위 - 보유기간 : 준영구 - 관련법령 : 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년, 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년, 대금결제 및 재화 등의 공급에 관한 기록 : 5년, 계약 또는 청약철회 등에 관한 기록 : 5년, 표시/광고에 관한 기록 : 6개월
   
3. 개인정보의 처리 및 보유 기간

  ① <(주)씨디에프브로스>('트렌디스트')은(는) 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집시에 동의 받은 개인정보 보유,이용기간 내에서 개인정보를 처리,보유합니다.  

② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
1.<홈페이지 회원가입 및 관리> <홈페이지 회원가입 및 관리>와 관련한 개인정보는 수집.이용에 관한 동의일로부터 < 5년 > 까지 위 이용목적을 위하여 보유.이용됩니다. 
-보유근거 : 서비스 내 구매자 및 판매자의 정보 보존
 -관련법령 :
1)신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년
 2) 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 
3) 대금결제 및 재화 등의 공급에 관한 기록 : 5년 
4) 계약 또는 청약철회 등에 관한 기록 : 5년  

-예외사유 : 
  2.<민원사무 처리>
 <민원사무 처리>와 관련한 개인정보는 수집.이용에 관한 동의일로부터 < 3년 >까지 위 이용목적을 위하여 보유.이용됩니다. 
-보유근거 : 상품 구매, 판매 시 민원 고충 해결 -관련법령 : 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년

 -예외사유 : 
  3.<제화 또는 서비스 제공>
 <제화 또는 서비스 제공>와 관련한 개인정보는 수집.이용에 관한 동의일로부터< 5년 >까지 위 이용목적을 위하여 보유.이용됩니다. 
-보유근거 : 구매 결제 내역 및 판매 대금 정산 내역 확인
 -관련법령 :
1)신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년
 2) 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 
3) 대금결제 및 재화 등의 공급에 관한 기록 : 5년
 4) 계약 또는 청약철회 등에 관한 기록 : 5년
 1)대금결제 및 재화 등의 공급에 관한 기록 : 5년
 2) 계약 또는 청약철회 등에 관한 기록 : 5년 
3) 표시/광고에 관한 기록 : 6개월  
-예외사유 : 
  4.<마케팅 및 광고에의 활용>
 <마케팅 및 광고에의 활용>와 관련한 개인정보는 수집.이용에 관한 동의일로부터< 3년 >까지 위 이용목적을 위하여 보유.이용됩니다.

 -보유근거 : 판매자 및 판매량 등의 내용 마케팅 활용 
-관련법령 : 표시/광고에 관한 기록 : 6개월 
-예외사유 :     
4. 개인정보의 제3자 제공에 관한 사항  
① <(주)씨디에프브로스>('http://www.trd.st/'이하 '트렌디스트')은(는) 정보주체의 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.
② <(주)씨디에프브로스>('http://www.trd.st/')은(는) 다음과 같이 개인정보를 제3자에게 제공하고 있습니다.  


1. <택배사> 
- 개인정보를 제공받는 자 : 택배사
 - 제공받는 자의 개인정보 이용목적 : 이메일, 휴대전화번호, 자택주소, 로그인ID, 이름
 - 제공받는 자의 보유.이용기간: 3년

 2. <결제대행사> 
- 개인정보를 제공받는 자 : 결제대행사
 - 제공받는 자의 개인정보 이용목적 : 이메일, 로그인ID, 이름, 서비스 이용 기록, 접속 로그, 쿠키, 접속 IP 정보, 결제기록
 - 제공받는 자의 보유.이용기간: 3년
  


5. 개인정보처리 위탁
  ① <(주)씨디에프브로스>('트렌디스트')은(는) 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.
1. 
 - 위탁받는 자 (수탁자) :  
- 위탁하는 업무의 내용 :
 - 위탁기간 :
  ② <(주)씨디에프브로스>('http://www.trd.st/'이하 '트렌디스트')은(는) 위탁계약 체결시 개인정보 보호법 제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적․관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리․감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.  
③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.   


6. 정보주체의 권리,의무 및 그 행사방법 이용자는 개인정보주체로서 다음과 같은 권리를 행사할 수 있습니다.
① 정보주체는 (주)씨디에프브로스(‘http://www.trd.st/’이하 ‘트렌디스트) 에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다. 

1. 개인정보 열람요구
 2. 오류 등이 있을 경우 정정 요구
 3. 삭제요구
 4. 처리정지 요구

 ② 제1항에 따른 권리 행사는(주)씨디에프브로스(‘http://www.trd.st/’이하 ‘트렌디스트) 에 대해 개인정보 보호법 시행규칙 별지 제8호 서식에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 <기관/회사명>(‘사이트URL’이하 ‘사이트명) 은(는) 이에 대해 지체 없이 조치하겠습니다.

 ③ 정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 <기관/회사명>(‘사이트URL’이하 ‘사이트명) 은(는) 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다. 

④ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.
  
7. 처리하는 개인정보의 항목 작성 
  ① <(주)씨디에프브로스>('http://www.trd.st/'이하 '트렌디스트')은(는) 다음의 개인정보 항목을 처리하고 있습니다.
1.<홈페이지 회원가입 및 관리> 
- 필수항목 : 이메일, 비밀번호, 로그인ID, 이름
 - 선택항목 : 휴대전화번호, 자택주소, 자택전화번호, 비밀번호 질문과 답, 성별, 생년월일, 은행계좌정보
   
8. 개인정보의 파기<(주)씨디에프브로스>('트렌디스트')은(는) 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.
-파기절차이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.-파기기한이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.
-파기방법 전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.
  
9. 개인정보의 안전성 확보 조치 <(주)씨디에프브로스>('트렌디스트')은(는) 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.
1. 정기적인 자체 감사 실시 개인정보 취급 관련 안정성 확보를 위해 정기적(분기 1회)으로 자체 감사를 실시하고 있습니다.
  2. 개인정보 취급 직원의 최소화 및 교육 개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다. 
 3. 내부관리계획의 수립 및 시행 개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.  
4. 해킹 등에 대비한 기술적 대책 <(주)씨디에프브로스>('트렌디스트')은 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신·점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.
  5. 개인정보의 암호화 이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.
  6. 접속기록의 보관 및 위변조 방지 개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관, 관리하고 있으며, 접속 기록이 위변조 및 도난, 분실되지 않도록 보안기능 사용하고 있습니다.  
7. 개인정보에 대한 접근 제한 개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여,변경,말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.  
8. 문서보안을 위한 잠금장치 사용 개인정보가 포함된 서류, 보조저장매체 등을 잠금장치가 있는 안전한 장소에 보관하고 있습니다.
  9. 비인가자에 대한 출입 통제 개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.
  
10. 개인정보 보호책임자 작성
 ① (주)씨디에프브로스(‘http://www.trd.st/’이하 ‘트렌디스트) 은(는) 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.
 ▶ 개인정보 보호책임자  
성명 :권재호 
직책 :대표이사 
직급 :대표이사
 연락처 :070-8773-8991, contact@trd.st,  ※ 개인정보 보호 담당부서로 연결됩니다.
  ▶ 개인정보 보호 담당부서 
부서명 :전략경영실
 담당자 :권재호 
연락처 :070-8773-8991, contact@trd.st,  
② 정보주체께서는 (주)씨디에프브로스(‘http://www.trd.st/’이하 ‘트렌디스트) 의 서비스(또는 사업)을 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다.
(주)씨디에프브로스(‘http://www.trd.st/’이하 ‘트렌디스트) 은(는) 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.
  
11. 개인정보 처리방침 변경
①이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
<!-- 개인정보취급방침 -->
