<!DOCTYPE html>
<html>
<head>
<title>방송 평점 서비스</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="header clearfix no_gap">

    <h3 class="text-muted col-md-5 no_gap"><a href="/">어제 뭐 봤어? - 티비노리</a></h3>
    <nav class="col-md-7 no_gap">
      <ul class="nav nav-pills pull-left">
        <li role="presentation"><a href="/">전체 방송 리스트</a></li>
        <li role="presentation"><a href="/home/upload">방송등록하기</a></li>

        <% if user_signed_in? %>
        <li role="presentation"><a href="/users/sign_out" data-method="delete">로그아웃</a></li>
        <% else %>
        <li role="presentation"><a href="/users/sign_in">로그인</a></li>
        <li role="presentation"><a href="/users/sign_up">회원가입</a></li>
        <% end %>
      </ul>
    </nav>
  </div>

  <%= yield %>
  <footer class="footer">
    <p>Made by 김요섭</p>
  </footer>

</div> <!-- /container -->

</body>
</html>
